# Python
__pycache__/
*.pyc

# Environment variables
.env

# Firebase secrets
firebase-secret.json

# Model weights
*.pt
*.pth

# OS files
.DS_Store
Thumbs.db

# Arduino build files
*.ino.bin

# VSCode
.vscode/

# Logs
*.log